#back-pic{
    background-image: url(images/simple-pattern-background-black-line-design-vector_53876-151305.jpg.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-color:rgb(44, 44, 44);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
display: flex;

justify-content: flex-end;

align-items: center;

font-size: 36px;

background-color: aquamarine;

color: rgb(44,44,44);

width: 250px;

height: 90px;

} 
nav p{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

nav a{
    font-size: 20px;
    color:aquamarine; 
}
    

.nav1{
    margin-left: auto;
    display:flex;
    justify-content: space-between;
    flex:.4;
}
.subtitle{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;     
}
#cool-subtitle{
    font-size: 25px;
    background-color: aquamarine;
}
#About-me{
    display:flex;
    align-content: center;
    justify-content: flex-end;
    justify-content: space-between;
}
#About-me h2{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 45px;
    height:150px;
    border-right-style: solid;
    border-color: rgb(44, 44, 44);
    width: 39%;
    margin-top: 15px;
}
.about-text{
    width:60%;
}
#Work{
    display:flex;
    align-content: center;
    justify-content: flex-end;
    justify-content: space-between;
}
#Work h2{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 45px;
    height:150px;
    border-right-style: solid;
    border-color: rgb(44, 44, 44);
    width: 39%;
    margin-top: 15px;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    width:60%;
}
.small-pics{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:160%;
}

#SurfReport{
    display:flex;
    background-image:url(images/How-to-read-a-surf-report-thewaveshakc.com-min.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 300px;
    border-style: solid;
    border-color: aquamarine;
    align-items: flex-end;   
}
.sftext{
    display: flex;
    justify-content: center;
    flex-direction:column;
    background-color: aquamarine;
    width:150px;
    margin-bottom: 30px;
    
}
.sftext h4{
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-bottom: 0px;
}
.sftext p{
    display: flex;
    justify-content: center;
}
#LED-Wall{
    display:flex;
    background-image:url(images/istockphoto-1167387535-640x640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: aquamarine;
    align-items: flex-end;
    width:100%;
}


#Calculator{
    display:flex;
    background-image:url(images/basic-black-and-white-calculator-ap38v4tgv731d8qn.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: aquamarine;
    align-items: flex-end;
    width:100%;
}
#Pastel{
    display:flex;
    background-image:url(images/pngtree-light-pastel-geometric-banner-background-bluegeometrygraywhiteliterarysimple-image_83281.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: aquamarine;
    align-items: flex-end;
    width:100%;
}
#Run-Buddy{
    display:flex;
    background-image:url(images/running-late-word-green-background-161756264.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: aquamarine;
    align-items: flex-end;
    width:100%;
}
.ledtext{
    display: flex;
    justify-content: center;
    flex-direction:column;
    background-color: aquamarine;
    width:150px;
    margin-bottom: 30px;
    
}
.ledtext{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.ledtext{
    display: flex;
    justify-content: center;
}